{% extends 'layout.html'%}
{% load static %}
{%block content%}


    <div class="container-fluid">
        <div class="row"> 
          <div class="col m-3 p-3 d-sm-none d-md-block d-none .d-sm-block">
            <div id="carouselExampleControls"  class="carousel slide slide1 myCarousel" data-bs-ride="carousel">
                <div class="carousel-inner myCarousel">
                  <div class="carousel-item active myCarousel">
                    <img  src="https://scontent.fpss3-1.fna.fbcdn.net/v/t39.30808-6/266152416_1725392941001424_2261159359651943493_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHG5EWvMmsCiS5bAvxdB1-6iUjwebIJf9uJSPB5sgl_2zwph3KSHf1GYq2LFeqcMvM&_nc_ohc=lzdihFlwf-gAX8beOjD&_nc_ht=scontent.fpss3-1.fna&oh=00_AT_aPTmlaesgmN8Luc7ompkHlZyicVYNo2qM3Qp5n3uCiw&oe=62EC605E" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-block" style="background-color:rgba(108, 108, 113, 0.55)">
                        <h1>Servicios.</h1>
                        <h3>Venta. Permutacion. Concesionaria. Tenemos la mejor experiencia en venta y concesion de autos en toda la provincia de Entre Rios.</h3>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.fpss3-1.fna.fbcdn.net/v/t39.30808-6/283969148_429624062498351_5725424705021217492_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEzzb6swQiUttyQFODmputHjZkijcsi-B6NmSKNyyL4Hpe80eT-wQ_n3tA1CYw5M-8&_nc_ohc=gVcpswoA0YoAX-bQc2l&_nc_ht=scontent.fpss3-1.fna&oh=00_AT8a46BMgHPnukxfBSyC1zfM9VCN1lpaM8wyjVL-SSv-VQ&oe=62EDB885" class="d-block w-100 " alt="...">
                      <div class="carousel-caption d-block"  style="background-color:rgba(108, 108, 113, 0.55)">
                        <h1>Mecanicos.</h1>
                        <h3>Con los mejores mecanicos a disposicion para la deteccion y reparacion de fallas.</h3>
                      </div>
                  </div>
                 
                  <div class="carousel-item">
                    <img src="https://scontent.fpss3-1.fna.fbcdn.net/v/t39.30808-6/257678716_1706321396241912_3391379540210312066_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeH7jkNaPIBRdSbsQ8uEHSoLIrKRGIn7cH8ispEYiftwfxlm09r7ozGkGffFhFlOCI4&_nc_ohc=zqqgdeRedjUAX-mjwfT&_nc_ht=scontent.fpss3-1.fna&oh=00_AT-C67GqMe8rOnDhSJDKQaQvOB7-zupYulzD8YqqgFLhLg&oe=62EC4782" class="d-block w-100 "  alt="...">
                    <div class="carousel-caption d-block"  style="background-color:rgba(108, 108, 113, 0.55)">
                        <h1>Experiencia.</h1>
                        <h3>Mas de diez años de experiencia al servicio de la venta de autos usados de todo tipo.</h3>
                      </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
          </div>
          <div class="col m-3 p-3  d-block d-md-none">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus atque neque maxime corrupti laboriosam sed expedita commodi quis accusamus, modi saepe consequatur adipisci vitae alias sunt quia ut odio. Optio.
          </div>
        </div>


        <div class="row justify-content-center">
         
        {% for auto in autos %}
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 m-3 ">
        <div id="carouselExampleIndicators{{auto.id}}" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner " style=" max-height: 310px;">
            <div class="carousel-item active">
              <img src="{{auto.imagen.url}}" class="d-block w-100 " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(255, 255, 255);">{{auto.nombre}}</h5>
               
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{auto.imagen3.url}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{auto.nombre}}</h5>
               
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{auto.imagen2.url}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{auto.nombre}}</h5>
               
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{auto.id}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{auto.id}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
        {%endfor%}
     
    </div>




       
    </div>
    {%endblock%}


    
